@import url('https://fronts.gogglepis.com/css?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body {
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;


}

.logo {
    font-size: 40px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 800;
    background: url(IMG_20241228_112056.jpg);
    background-position: top right;
    background-size: 50px;
}


.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    

}

.navbar a:hover, 
.navbar a.active {
    color: blue;
}

.about {
    height: 100vh;
    background: url(c6ecc2e3-9cfb-49eb-8653-49419d3dcfb3.jpg) no-repeat;
    background-size:300px ;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 0 100px;
    color: white;
}

.about-content {
    max-width: 600px;
    color: #82adbe;
    
}
.about-content h1 {
    font-size: 60px;
    font-weight: 700;
   
    
}

.about-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100px;
    background: #081b29;
    animation: showRight is ease forwards;
    animation-delay: 1s;
}

.about-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #82adbe;

}
.about-content p {
    font-size: 16px;
    margin: 20px 0 40px;

}
.about-content .btn-box {
  
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 600;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
   
}

.btn-box a:nth-child(2) {
  
    background: transparent;
    color: #00abf0;
}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: lightblue;
    z-index: -1;
    transition: 1s;

    
}


.btn-box a:hover::before {
   
    width: 100%;
}


.about-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.about-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 20px;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 2s;

}
.about-sci a:hover {
    color: #081b29;
}

.about-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: lightblue;
    z-index: -1;
    transition: 2s;

}


.about-sci a:hover::before {
    width: 100px;

}

