body {
background-image: url(s.save\ \(3\).png);
background-repeat: no-repeat ;
background-color: rgba(rgb(0, 255, 255),);
background-size: 50px;
background-color: rgba(151, 234, 248, 0.322);


}







